<div class="panel panel-default" ng-show="vm.authentication.user">
    <div class="panel-body">
        <h4 class="pull-left">Hello Admin</h4>
        <a class="pull-right btn btn-warning" href="/api/auth/signout">Logout</a>
    </div>
</div>

<div class="add-prizes">

    <section class="row">

        <div class="col-sm-2">
            <a ui-sref="prize" class="btn btn-block btn-primary">Scratch Card setup</a>
            <a ui-sref="results" class="btn btn-block btn-primary">Results</a>
        </div>

        <div class="col-sm-10" ng-show="vm.isOpen">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{vm.prize._id ? 'Update' : 'Add'}} Prize</h3></div>
                <div class="panel-body">
                    <form class="signin" autocomplete="off" name="userForm" ng-submit="vm.prize._id ? vm.update(userForm.$valid) : vm.create(userForm.$valid)">
                        <div class="row">
                            <!--first column-->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="username">Name</label>
                                    <input type="text" id="name" name="name" class="form-control" data-ng-model="vm.prize.name" placeholder="Name" required="">
                                </div>

                                <div class="form-group">
                                    <label>Prize can be won on</label>

                                    <div class="checkbox" ng-repeat="announceDay in vm.prize.announceDay">
                                        <label ng-class="{'fontWeight' :  announceDay.day === vm.prize.announceDay[vm.activeIndex].day}">
                                            <input type="checkbox" name="optionsRadios" ng-change="vm.activeIndex=$index;" id="optionsRadios{{$index}}" ng-model="announceDay.status">
                                            {{announceDay.day}}
                                        </label>

                                    </div>
                                </div>

                            </div>
                            <!--second column-->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Win Percentage</label>
                                    <div class="progress-box" ng-app>
                                        <div class="percentage-cur" ng-init="vm.prize.winPercentage=0">
                                            <span class="num">{{ vm.prize.winPercentage }}%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-slider">
                                            <input class="progress-slider" type="range" step="0.10" min="0" max="100" ng-model="vm.prize.winPercentage">
                                            <div class="inner" ng-style="{ width: vm.prize.winPercentage + '%' || '0%' }"></div>
                                        </div>
                                    </div>
                                </div>

                                <!--  <div class="form-group">
                                    <label for="password">Announce Day</label>
                                    <input type="text" id="password" name="password" class="form-control" data-ng-model="vm.prize.announceDay" placeholder="Password" required="">
                                </div> -->

                                <div class="form-group">
                                    <label>Select time</label>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div uib-timepicker ng-model="vm.prize.announceDay[vm.activeIndex].startTime" hour-step="1" minute-step="1" show-meridian="false"></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div uib-timepicker ng-model="vm.prize.announceDay[vm.activeIndex].endTime" hour-step="1" minute-step="1" show-meridian="false"></div>
                                        </div>
                                    </div>


                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">{{vm.prize._id ? 'Update' : 'Add'}}</button>
                                    <button type="button" class="btn btn-default" ng-click="vm.isOpen=false;">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
        </div>
            <div class="row">
                <div class="col-sm-2 pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="vm.init();vm.isOpen=true;" ng-hide="vm.isOpen">Add Prize</button>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="input-group">
                        <span class="input-group-addon" id="search">Search</span>
                        <input type="text" class="form-control"  ng-model="vm.search" id="search" aria-describedby="search" placeholder="name, prize">
                    </div>

                </div>

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Prizes</th>
                        <th>Percentage</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="prize in vm.prizes | filter:vm.search">
                        <td>{{$index+1}}</td>
                        <td>{{prize.name}}</td>
                        <td>{{prize.winPercentage||0}}%</td>
                        <td><a class="cursorPoint " ng-click="vm.isOpen=true; vm.getOne(prize)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                        <td><a ng-click="vm.remove(prize)" class="cursorPoint red"><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
                    </tr>
                </tbody>
            </table>


            <div class="col-md-7 alert alert-warning text-center ng-hide" data-ng-hide="!devices.$resolved || devices.length">
                No Devices yet, why don't you create one?
            </div>
        </div>





        <!--
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);

        $('#longStoppageStartTime').datetimepicker({
            format: 'LT'
        });

        $('#longStoppageEndTime').datetimepicker({
            format: 'LT'
        });


        /*  $('#endDate').datetimepicker({
         format: 'YYYY-MM-DD'
         });*/




    });

</script>-->

    </section>
</div>
