<div class="panel panel-default" ng-show="vm.authentication.user">
    <div class="panel-body">
        <h4 class="pull-left">Hello Admin</h4>
        <a class="pull-right btn btn-warning" href="/api/auth/signout">Logout</a>
    </div>
</div>

<div class="add-prizes">

    <section class="row">

        <div class="col-sm-2">
            <a ui-sref="prize" class="btn btn-block btn-primary">Scratch Card setup</a>
            <a ui-sref="results" class="btn btn-block btn-primary">Results</a>
        </div>

        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-default stats-panel">
                        <div class="panel-heading">Amount for scratched cards</div>
                        <div class="panel-body">
                            <h1>{{vm.resultHeader.total || 0}}</h1>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="panel panel-default stats-panel">
                        <div class="panel-heading">Cashed prizes</div>
                        <div class="panel-body">
                            <h1>{{vm.resultHeader.prizeCollected || 0}}</h1>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="panel panel-default stats-panel">
                        <div class="panel-heading">Not cashed</div>
                        <div class="panel-body">
                            <h1>{{vm.resultHeader.prizeNotCollected || 0}}</h1>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="panel panel-default stats-panel">
                        <div class="panel-heading">Export list</div>
                        <div class="panel-body">
                            <div class="radio">
                                <label>
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
excel doc
</label>
                            </div>
                            <button class="btn btn-primary">Download</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="input-group">
                <span class="input-group-addon" id="search">Search</span>
                <input type="text" class="form-control" id="search" aria-describedby="search" placeholder="name, prize">
            </div>

            <div class="panel panel-default stats-panel">


                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Prize</th>
                                <th>Verzilverd</th>
                                <th>Datum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="scratcher in vm.scratchers">
                                <td>{{$index+1}}</td>
                                <td>{{scratcher.email}}</td>
                                <td>{{scratcher.prizeId.name}}</td>
                                <td>{{scratcher.isPrizeCollected ? 'Yes' : 'No'}}</td>
                                <td>{{scratcher.created | date : 'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>



            <div class="col-md-7 alert alert-warning text-center ng-hide" data-ng-hide="!devices.$resolved || devices.length">
                No Devices yet, why don't you create one?
            </div>
        </div>





        <!--
<script>
    $(document).ready(function () {
        $(this).scrollTop(0);

        $('#longStoppageStartTime').datetimepicker({
            format: 'LT'
        });

        $('#longStoppageEndTime').datetimepicker({
            format: 'LT'
        });


        /*  $('#endDate').datetimepicker({
         format: 'YYYY-MM-DD'
         });*/




    });

</script>-->

    </section>
</div>
