<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="google" value="notranslate" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <base href="/">
    <title page-title></title>
    <meta name="description" content="{{description}}">
    <meta name="fragment" content="!">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fav Icon -->
    <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Application CSS Files -->
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">{% endfor %}
</head>

<body class="ng-cloak" layout="column">

    <div ui-view></div>

    <!--<footer ng-include="'/modules/core/client/views/footer.client.view.html'"></footer>-->
    <!--Embedding The User Object-->
    <script type="text/javascript">
       var user = {{ user | json | safe }};
    </script>

    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}
    <script type="text/javascript" src="{{jsFile}}"></script>{% endfor %} {% if livereload %}
    <!--Livereload script rendered -->
    {% endif %}
</body>

</html>
