/*Scratch Card CSS*/

@font-face {
    font-family: 'FoundrySterling';
    src: url('../fonts/fs/hinted-FoundrySterling-Bold.eot');
    src: local('FoundrySterling-Bold'), url('../fonts/fs/hinted-FoundrySterling-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/fs/hinted-FoundrySterling-Bold.woff2') format('woff2'), url('../fonts/fs/hinted-FoundrySterling-Bold.woff') format('woff'), url('../fonts/fs/hinted-FoundrySterling-Bold.ttf') format('truetype'), url('../fonts/fs/hinted-FoundrySterling-Bold.svg#FoundrySterling-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FoundrySterling-Book';
    src: url('../fonts/fs/hinted-FoundrySterling-Book.eot');
    src: local('FoundrySterling-Book'), url('../fonts/fs/hinted-FoundrySterling-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/fs/hinted-FoundrySterling-Book.woff2') format('woff2'), url('../fonts/fs/hinted-FoundrySterling-Book.woff') format('woff'), url('../fonts/fs/hinted-FoundrySterling-Book.ttf') format('truetype'), url('../fonts/fs/hinted-FoundrySterling-Book.svg#FoundrySterling-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FoundrySterling';
    src: url('../fonts/fs/hinted-FoundrySterling-Light.eot');
    src: local('FoundrySterling-Light'), url('../fonts/fs/hinted-FoundrySterling-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/fs/hinted-FoundrySterling-Light.woff2') format('woff2'), url('../fonts/fs/hinted-FoundrySterling-Light.woff') format('woff'), url('../fonts/fs/hinted-FoundrySterling-Light.ttf') format('truetype'), url('../fonts/fs/hinted-FoundrySterling-Light.svg#FoundrySterling-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'FoundrySterling-Book';
    font-weight: normal;
    font-style: normal;
    background-size: cover;
    margin-bottom: 200px
}

.bodyBackground {
    background: url(../images/bg.jpg) no-repeat fixed !important;
    background-color: black !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'FoundrySterling';
    font-weight: bold;
}

.head-nav {
    background: #1d1d1b;
    margin: 10px 0;
    padding: 10px 0;
}

.head-nav h2 {
    color: #fff;
    text-transform: uppercase;
    margin: 5px 0;
}

.main-content {
    color: #fff;
}

.main-content .scratch-card-info2 {
    margin: 50px 0;
}

.main-content .scratch-card-info h1, .main-content .scratch-card-info2 h2 {
    color: #fef000;
    text-transform: uppercase;
}

.main-content .scratch-card-info h1 {
    font-size: 50px;
}

.main-content .scratch-card-info h1 span, .main-content .scratch-card-info2 h2 span {
    font-family: 'FoundrySterling';
    font-weight: 300
}

.main-content .scratch-card-info h4 {
    color: #009ee3;
}

.main-content .scratch-card-info h3, .main-content .scratch-card-info2 h3 {
    color: #e30713;
    text-transform: uppercase;
}

.main-content .scratch-card {
    text-align: center;
    position: relative;
}

.main-content .scratch-area {
    position: absolute;
    top: 120px;
    left: 2%;
    right: 0;
    margin: 0 auto;
}

#scratchcard {
    width: 300px;
    height: 80px;
}

#scratchcard.prize-text {
    color: #585858;
    padding: 10px 0 !important;
    font-size: 20px;
    font-weight: bold;
}

#scratchcard.prize-text span {
    display: BLOCK;
    font-size: 20px;
}

.main-content .scratch-card .btn {
    text-transform: uppercase;
    background: #4db231;
    margin: 20px 0;
}

@media only screen and (max-width: 768px) {
    .head-nav h2 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 768px) {
    #scratchcard {
        width: 300px;
        height: 80px;
    }
    .pull-right-sm {
        float: right;
    }
    .logo-img {
        float: right;
    }
    .main-content {
        margin: 50px 0;
    }
    .main-content .scratch-card-info {
        margin: 50px 0;
    }
}

.cursorPoint {
    cursor: pointer !important;
}

.red {
    color: red !important;
}

.head-nav h2 {
    font-weight: normal;
}


/*gajendr singh responsive css*/

@media only screen and (max-width: 359px) {
    .head-nav h2 {
        font-size: 20px;
        float: left;
        width: 100%;
        text-align: center;
        font-weight: normal;
    }
    .scratch-card-info {
        text-align: center;
    }
    div#scratchcard {
        width: 98% !important;
        background-size: 95% !IMPORTANT;
    }
    canvas.scratchcard-Overlay {
        width: 100% !important;
        height: 100% !important;
    }
    .main-content .scratch-card {
        margin-bottom: 20px;
    }
    .bodyBackground {
        background-size: cover !important;
    }
    .scratch-card img {
        width: 100%;
        height: 100%;
    }
    .logo-img img {
        text-align: center;
        margin: auto;
        float: none;
    }
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
    .head-nav h2 {
        font-size: 20px;
        float: left;
        width: 100%;
        text-align: center;
        font-weight: normal;
    }
    .scratch-card-info {
        text-align: center;
    }
    div#scratchcard {
        width: 98% !important;
        background-size: 95% !important;
    }
    canvas.scratchcard-Overlay {
        width: 100% !important;
        height: 100% !important;
    }
    .main-content .scratch-card {
        margin-bottom: 20px;
    }
    .bodyBackground {
        background-size: cover !important;
    }
    .scratch-card img {
        width: 100%;
        height: 100%;
    }
    .logo-img img {
        text-align: center;
        margin: auto;
        float: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 509px) {
    .head-nav h2 {
        font-size: 20px;
        float: left;
        width: 100%;
        text-align: center;
        font-weight: normal;
    }
    .scratch-card-info {
        text-align: center;
    }
    div#scratchcard {
        width: 98% !important;
        background-size: 95% !important;
    }
    canvas.scratchcard-Overlay {
        width: 100% !important;
        height: 100% !important;
    }
    .main-content .scratch-card {
        margin-bottom: 20px;
    }
    .bodyBackground {
        background-size: cover !important;
    }
    /*.scratch-card img {
        width: 100%;
        height: 100%;
    }*/
    .logo-img img {
        text-align: center;
        margin: auto;
        float: none;
    }
}

@media only screen and (min-width: 400px) and (max-width:767px) {
    .main-content .scratch-area {
        text-align: center;
        width: 330px;
    }
}

@media only screen and (max-width: 767px) {
    .head-nav h2 {
        font-size: 20px;
        float: left;
        width: 100%;
        text-align: center;
        font-weight: normal;
    }
    .scratch-card-info {
        text-align: center;
    }
    div#scratchcard {
        width: 98% !important;
        background-size: 95% !important;
    }
    canvas.scratchcard-Overlay {
        width: 100% !important;
        height: 100% !important;
    }
    .main-content .scratch-card {
        margin-bottom: 20px;
    }
    .bodyBackground {
        background-size: cover !important;
    }
    .scratch-card img {
        width: auto;
        height: 100%;
        text-align: center;
        margin: auto;
    }
    .logo-img img {
        text-align: center;
        margin: auto;
        float: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .scratch-card-info {
        text-align: left;
    }
    div#scratchcard {
        width: 98% !important;
        background-size: 95% !important;
    }
    canvas.scratchcard-Overlay {
        width: 100% !important;
        height: 100% !important;
    }
    .main-content .scratch-card {
        margin-bottom: 20px;
    }
    .bodyBackground {
        background-size: cover !important;
    }
    /*.scratch-card img {
        width: auto;
        height: 100%;
        text-align: center;
        margin: auto;
    }*/
    .logo-img img {
        text-align: center;
        margin: auto;
        float: none;
    }
    /*.main-content .scratch-area {
        width: 285px !important;
    }*/
    /*.main-content .scratch-area {
        width: 330px !important;
        float: left
    }*/
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /*.hhh {  width:100%;}*/
}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    /*.main-content .scratch-area {
        width: 265px !important;
    }
    .main-content .scratch-area {
        width: 250px !important;
        margin-left: 0 !important;
        float: left
    }*/
}

@media only screen and (min-width: 1200px) {
    .main-content .scratch-card {
        text-align: center;
        position: relative;
        width: 312px !IMPORTANT;
    }
}
