<div class="product-view-modal" ng-controller="ModalController">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closemodal()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-push-3 col-sm-9">

                        <img ng-src="modules/core/client/img/product/car.jpg" class="product-img-big" />

                    </div>
                    <div class="col-sm-pull-9 col-sm-3">
                        <div class="product-img-thumbs">
                            <div class="row">
                                <div class="col-xs-3 col-sm-12">
                                    <a href><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></a>
                                </div>
                                <div class="col-xs-3 col-sm-12">
                                    <a href><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></a>
                                </div>
                                <div class="col-xs-3 col-sm-12">
                                    <a href><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></a>
                                </div>
                                <div class="col-xs-3 col-sm-12">
                                    <a href><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-7">
                        <div class="social-icons">
                            <h4>Deel het met vrienden!</h4>

                            <img ng-src="modules/core/client/img/assets/social-arrow.png" />
                            <ul class="list-inline">
                                <li>
                                    <a class="btn btn-social-icon btn-facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-google">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-pinterest">
                                        <span class="fa fa-pinterest"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <img ng-src="modules/core/client/img/companies/doelshop.png" class="company-logo img-responsive" />
                    </div>
                </div>


            </div>
            <div class="col-sm-12 col-md-6">

                <div class="sk-fading-circle">
                    <div class="loading-numbers">
                        <h5>5</h5>
                        <p>seconden</p>
                    </div>
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>





            </div>
            <!--col ends-->
        </div>
        <!--row ends -->
        <div class="other-products">
            <h4>Anderen beken ook</h4>
            <div class="row">
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>

            </div>
        </div>
    </div>

</div>
</div>
</div>
