<div class="product-view-modal" ng-controller="ModalController">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closemodal()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-push-3 col-sm-9">

                        <img ng-src="modules/core/client/img/product/car.jpg" class="product-img-big" />

                    </div>
                    <div class="col-sm-pull-9 col-sm-3">
                        <div class="product-img-thumbs">
                            <div class="row">
                                <div class="col-xs-3 col-sm-12">
                                    <a href><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></a>
                                </div>
                                <div class="col-xs-3 col-sm-12">
                                    <a href><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></a>
                                </div>
                                <div class="col-xs-3 col-sm-12">
                                    <a href><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></a>
                                </div>
                                <div class="col-xs-3 col-sm-12">
                                    <a href><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-7">
                        <div class="social-icons">
                            <h4>Deel het met vrienden!</h4>

                            <img ng-src="modules/core/client/img/assets/social-arrow.png" />
                            <ul class="list-inline">
                                <li>
                                    <a class="btn btn-social-icon btn-facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-google">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-pinterest">
                                        <span class="fa fa-pinterest"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <img ng-src="modules/core/client/img/companies/doelshop.png" class="company-logo img-responsive" />
                    </div>
                </div>


            </div>
            <div class="col-sm-12 col-md-6">
                <div class="product-desc">
                    <h4>Klassieke Electrische Auto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                        eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
                </div>

                <div class="product-price clearfix">
                    <h2>€129.000,-</h2>
                    <h5>( u doneert <span>1500,-</span> )</h5>
                </div>



                <div class="filter-options">


                    <div class="btn-group dropdown" uib-dropdown="">
                        <button id="single-button" type="button" class="btn btn-filter-option dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                            model<i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="#">Action</a></li>
                            <li role="menuitem"><a href="#">Another action</a></li>
                            <li role="menuitem"><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropdown" uib-dropdown="">
                        <button id="single-button" type="button" class="btn btn-filter-option dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                            Kleur<i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="#">Action</a></li>
                            <li role="menuitem"><a href="#">Another action</a></li>
                            <li role="menuitem"><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropdown" uib-dropdown="">
                        <button id="single-button" type="button" class="btn btn-filter-option dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                            optie<i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="#">Action</a></li>
                            <li role="menuitem"><a href="#">Another action</a></li>
                            <li role="menuitem"><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">Separated link</a></li>
                        </ul>
                    </div>



                </div>

                <div class="product-terms">

                    <ul class="list-unstyled">
                        <li>
                            <h5>Levertiijd:</h5>
                            <p>Gemiddelde levertijd is 2 weken.
                            </p>
                        </li>
                        <li>
                            <h5>Overige:</h5>
                            <p>Deze auto wordt geleverd zonder batterijen</p>
                        </li>

                    </ul>
                </div>

                <div class="product-btn">
                    <a href="" class="btn btn-shop">Ga naar Maffeautos.nl</a>
                    <p><a href class="">of vergelijk met 293 andere shops</a></p>
                </div>
            </div>
            <!--col ends-->
        </div>
        <!--row ends -->
        <div class="other-products">
            <h4>Anderen beken ook</h4>
            <div class="row">
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>
                <div class="col-xs-4 col-sm-2"><img ng-src="modules/core/client/img/product/car.jpg" class="img-thumbnail" /></div>

            </div>
        </div>
    </div>

</div>
</div>
</div>
