<header ng-include="'/modules/core/client/views/header.client.view.html'"></header>



<!-- table Grid Section -->
<section style="margin-top: 5px;">
    <div class="container">
        <div class="dateTable">
            <div class="SearchBar">
                <h3 class="headingh"><b>Noch offen :</b> {{vm.getTotal | currency:''}} €</h3>
                <input type="text" name="search" ng-model="vm.query" ng-change="vm.query && vm.query.length ? vm.find(vm.query) : ''" placeholder="Search..">
            </div>
            <table class="detaTable" ng-init="vm.getTotal=0;">

                <tr>
                    <th>Rechnr</th>
                    <th>Vorname</th>
                    <th>Name</th>
                    <th>Betrag</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
                <tr ng-repeat="patient in vm.patients">
                    <td>{{patient.billNo}}</td>
                    <td>{{patient.vorname}}</td>
                    <td>{{patient.nachname}}</td>
                    <td>{{patient.summe || 0}} €</td>
                    <td>
                        <md-input-container class="md-block" style="margin: initial !important; ">
                            <textarea ng-model="patient.description" ng-blur="vm.update($event,patient)"></textarea>
                        </md-input-container>
                    </td>
                    <td>
                        <md-checkbox class="md-primary md-raised" ng-model="patient.isPaid" ng-change="vm.update($event, patient, 'checkList')"></md-checkbox>
                    </td>
                </tr>

            </table>

            <cl-paging flex cl-pages="paging.total" cl-steps="6"  cl-page-changed="paging.onPageChanged()"  cl-align="center center"  cl-current-page="paging.page"></cl-paging>
        </div>

    </div>


</section>

