<header ng-controller="HeaderController as vm">
    <md-content ng-class="{'navbar-fixed' : vm.isHome(), 'navbar-fixed-red' : !vm.isHome()}">
        <md-content class="container">

            <div class="navbar-header">
                <a class="navbar-brand Abrechnung " href="#">Abrechnung</a>
            </div>


            <div class="singOut" ng-show="vm.authentication.user"> <a ng-click="vm.logoutMe()" href=""> Logout </a> </div>
            <div class="singOut" ng-show="vm.authentication.user && vm.authentication.user.roles && vm.authentication.user.roles[0] == 'admin'"><a ui-sref="home" class="navbar-brand">Form</a> </div>
            <div class="singOut" ng-show="vm.authentication.user && vm.authentication.user.roles && vm.authentication.user.roles[0] == 'admin'"><a ui-sref="checklist" class="navbar-brand">Checklist</a> </div>
            <div class="singOut" ng-show="vm.authentication.user && vm.authentication.user.roles && vm.authentication.user.roles[0] == 'admin'"><a ui-sref="records" class="navbar-brand">Dashboard</a> </div>
        </md-content>

    </md-content>
</header>

