<header ng-include="'/modules/core/client/views/header.client.view.html'"></header>

<md-stepper-card-content class="md-no-padding">
  <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="vm.selectedStep" md-busy-text="'Processing...'" md-busy="vm.showBusyText">
    <md-step label="" md-complete="vm.stepData[0].data.completed" ng-disabled="vm.stepProgress < 1">
      <md-step-body>
        <form name="step1" ng-submit="vm.submitCurrentStep('step1')" autocomplete="off">
          <md-content class="md-padding widthOfHome">
            <div layout-gt-sm="row" class="layout-gt-sm-row paddingBottom10px">
              <div flex-gt-xs="" class="flex-gt-xs">
                <label class="textLightFont" for="input_24">Heute <span class="red">*</span> <br/></label>
                <!--<input class="dateBorderNone" type="date" ng-model="vm.patient.heute" required="" />-->
                <!--<input  class="dateBorderNone" type="text" type="text" data-datepicker="{theme: 'flat', readonly : false}"  ng-model="vm.patient.heute"   required>-->
                <input class="dateBorderNone" type="text" data-datepicker="{ theme: 'flat', readonly : false}" data-ng-model="vm.patient.heute" />

              </div>
            </div>

            <div layout-gt-sm="row" class="layout-gt-sm-row">
              <md-input-container class="md-block flex-gt-sm" flex-gt-sm="">
                <label for="input_24" class="">Nachname <span class="red">*</span></label>
                <input required ng-model="vm.patient.nachname" class="ng-pristine ng-untouched ng-valid md-input ng-empty" id="input_24" aria-invalid="false" style="">
                <div class="md-errors-spacer"></div>
              </md-input-container>
            </div>

            <div layout-gt-sm="row" class="layout-gt-sm-row">
              <md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
                <label for="input_27">Vorname <span class="red">*</span></label>
                <input required ng-model="vm.patient.vorname" class="ng-pristine ng-untouched ng-valid md-input ng-not-empty" id="input_27" aria-invalid="false" style="">
                <div class="md-errors-spacer"></div>
              </md-input-container>
            </div>


            <div layout-gt-sm="row" class="layout-gt-sm-row">
              <md-input-container class="md-block flex-gt-sm md-input-has-value  marpad" flex-gt-sm="">
                <h3>Anrede <span class="red">*</span></h3>
                <md-radio-group ng-model="vm.patient.anrede" class="md-primary" required>
                  <md-radio-button class="sehrGeehrteFrau" value="Sehr geehrte Frau"> Sehr geehrte Frau </md-radio-button>
                  <md-radio-button class="sehrGeehrteFrau" value=" Sehr geehrter Herr"> Sehr geehrter Herr</md-radio-button>
                </md-radio-group>
              </md-input-container>
            </div>

            <div layout-gt-sm="row" class="layout-gt-sm-row">
              <md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
                <label for="input_27">Straße, Hausnummer  <span class="red">*</span></label>
                <input required ng-model="vm.patient.strabeHausnummer" class="ng-pristine ng-untouched ng-valid md-input ng-not-empty" id="input_27" aria-invalid="false" style="">
                <div class="md-errors-spacer"></div>
              </md-input-container>
            </div>

            <div layout-gt-sm="row" class="layout-gt-sm-row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>PLZ  <span class="red">*</span></label>
                <input ng-model="vm.patient.plz" ng-blur="vm.getCity(vm.patient.plz)" />
              </md-input-container>
            </div>

            <div layout-gt-sm="row" class="layout-gt-sm-row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Stadt  <span class="red">*</span></label>
                <input ng-model="vm.patient.stadt" />
              </md-input-container>
            </div>

            <div layout-gt-sm="row" class="layout-gt-sm-row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Adresse</label>
                <input ng-model="vm.patient.address" />
              </md-input-container>
            </div>


            <!-- <div layout-gt-sm="row" class="layout-gt-sm-row">
                            <md-input-container class="md-block flex-gt-sm md-input-has-value marpad" flex-gt-sm="">
                              <h3>Stadt <span class="red">*</span></h3>
                                <div style="width: 50% !important;">
                                <md-radio-group ng-model="vm.patient.stadt" style="width : 50%" class="md-primary" required>
                                    <md-radio-button value="Düsseldorf"> Düsseldorf </md-radio-button>
                                    <md-radio-button value="Other"> Andere :</md-radio-button>
                                </md-radio-group>
                                </div>
                                <input style="width : 50%; margin-left: 15%; margin-top: -7%;" ng-show="vm.patient.stadt == 'Other'" type="text" class="Other" ng-model="vm.patient.stadtOther" />
                            </md-input-container>
                        </div>-->

            <div layout-gt-sm="row" class="layout-gt-sm-row">
              <md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
                <label for="input_27">Kind Vorname, Nachname </label>
                <input type="text" ng-model="vm.patient.kindVornameNachname" />
              </md-input-container>
            </div>

            <div layout-gt-sm="row" class="layout-gt-sm-row paddingBottom10px">
              <div flex-gt-xs="" class="flex-gt-xs">
                <label class="textLightFont" for="input_24">Geb. Datum Kind <span class="red" ng-show="vm.patient.kindVornameNachname">*</span><br/></label>
                <input class="dateBorderNone" type="text" type="text" data-datepicker="{theme: 'flat', readonly : false}" ng-model="vm.patient.gebDatumKind" ng-required="vm.patient.kindVornameNachname">
              </div>
            </div>



            <div layout-gt-sm="row" class="layout-gt-sm-row" style="padding-top: 20px;">
              <md-input-container class="md-block flex-gt-sm md-input-has-value  marpad" flex-gt-sm="">
                <h3>Rechnungsart?  <span class="red">*</span></h3>
                <md-radio-group class="md-primary" ng-model="vm.patient.rechnungsart" required>
                  <md-radio-button value="HP">HP</md-radio-button>
                  <!--<md-radio-button value="HP- Physio"> HP- Physio </md-radio-button>-->
                  <md-radio-button value="GKV">GKV</md-radio-button>
                  <md-radio-button value="Halbe GKV">Halbe GKV</md-radio-button>
                  <md-radio-button value="Ausfallgebühr">Ausfallgebühr</md-radio-button>
                </md-radio-group>
              </md-input-container>
            </div>

          </md-content>
          <md-step-actions layout="row">
            <div flex layout="row" layout-align="center ceter">
              <!-- <md-button class="md-warn">CANCEL</md-button> -->
              <md-button type="submit" ng-disabled="step1.$invalid || vm.showBusyText" class="md-primary md-raised">Weiter</md-button>
            </div>
          </md-step-actions>
        </form>
      </md-step-body>
    </md-step>
    <md-step label="" md-complete="vm.stepData[1].data.completed" ng-disabled="vm.stepProgress < 2">
      <md-step-body>
        <form name="step2" ng-submit="vm.submitCurrentStep('step2')">
          <md-content class="md-padding widthOfHome">
            <div layout-gt-sm="row" class="layout-gt-sm-row">
              <md-input-container class="md-block flex-gt-sm md-input-has-value marpad" flex-gt-sm="">
                <h3>Grund <span class="red">*</span></h3>
                <md-radio-group ng-model="vm.patient.grund" class="md-primary" required>
                  <md-radio-button value="Diagnose">Diagnose</md-radio-button>
                  <md-radio-button value="Empfehlung vom"> Empfehlung vom </md-radio-button>
                </md-radio-group>
              </md-input-container>
            </div>
          </md-content>
          <md-step-actions layout="row">
            <div flex layout="row" layout-align="center ceter">
              <md-button ng-click="vm.moveToPreviousStep()">Zurück</md-button>
            </div>
            <div flex layout="row" layout-align="center ceter">
              <!-- <md-button class="md-warn">CANCEL</md-button> -->
              <md-button type="submit" ng-disabled="!vm.patient.grund || vm.showBusyText" class="md-primary md-raised">Weiter</md-button>
            </div>
          </md-step-actions>
        </form>
      </md-step-body>
    </md-step>
    <md-step label="" md-complete="vm.stepData[2].data.completed" ng-disabled="vm.stepProgress < 3">
      <md-step-body>
        <form name="step3" ng-submit="vm.submitCurrentStep('step3')">
          <md-content class="md-padding widthOfHome" style="min-height: 300px !important;">
            <div layout-gt-sm="row" class="layout-gt-sm-row paddingBottom10px">
              <div flex-gt-xs="" class="flex-gt-xs">
                <label class="textLightFont" for="input_24">Empfehlungsdatum <span class="red">*</span> <br/></label>
                <input class="dateBorderNone" type="text" ng-model="vm.patient.empfehlungsdatum" type="text" data-datepicker="{theme: 'flat', readonly : false}" />
              </div>
            </div>
          </md-content>
          <md-step-actions layout="row">
            <div flex layout="row" layout-align="center ceter">
              <md-button ng-click="vm.moveToPreviousStep()">Zurück</md-button>
            </div>
            <div flex layout="row" layout-align="center ceter">
              <!-- <md-button class="md-warn">CANCEL</md-button> -->
              <md-button type="submit" ng-disabled="!vm.patient.empfehlungsdatum || vm.showBusyText" class="md-primary md-raised">Weiter</md-button>
            </div>
          </md-step-actions>
        </form>
      </md-step-body>
    </md-step>
    <md-step label="" md-complete="vm.stepData[3].data.completed" ng-disabled="vm.stepProgress < 4">
      <md-step-body>
        <form name="step4" ng-submit="vm.submitCurrentStep('step4')">
          <md-content class="md-padding widthOfHome">
            <div layout-gt-sm="row" class="layout-gt-sm-row">
              <!--
                            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in vm.items">
                                <md-checkbox ng-checked="vm.exists(item, selected)" ng-click="vm.toggle(item, selected)">
                                    {{ item }}
                                </md-checkbox>
                            </div>-->


              <div flex="100" layout="column">
                <div>
                  <fieldset class="demo-fieldset">
                    <div layout="row" layout-wrap flex>

                      <!-- <div flex-xs flex="50">
                                                <md-checkbox aria-label="Select All"
                                                             ng-checked="vm.isChecked()"
                                                             md-indeterminate="vm.isIndeterminate()"
                                                             ng-click="vm.toggleAll()">
                                                    <span ng-if="vm.isChecked()">Un-</span>Select All
                                                </md-checkbox>
                                            </div> -->
                      <h3 class="marpad">Diagnose <span class="red">*</span></h3>
                      <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in vm.items">
                        <div style="width: 50% !important;">

                          <md-checkbox ng-checked="vm.exists(item, vm.selected)" ng-click="vm.toggle(item, vm.selected)" class="md-primary">
                            {{ item }}
                          </md-checkbox>
                        </div>

                        &nbsp; <input style="width : 50%; margin-left: 15%; margin-top: -5.5%;" ng-show="item == 'Andere :'" type="text" class="Other" ng-change="vm.diagnoseOther()" ng-model="vm.patient.diagnoseOther" />
                      </div>
                    </div>

                  </fieldset>
                </div>
              </div>
            </div>
          </md-content>
          <md-step-actions layout="row">
            <div flex layout="row" layout-align="center ceter">
              <md-button ng-click="vm.moveToPreviousStep()">Zurück</md-button>
            </div>
            <div flex layout="row" layout-align="center ceter">
              <!-- <md-button class="md-warn">CANCEL</md-button> -->
              <md-button type="submit" ng-disabled="vm.selected.length == 0 && !vm.patient.diagnoseOther" class="md-primary md-raised">Weiter</md-button>
            </div>
          </md-step-actions>
        </form>
      </md-step-body>
    </md-step>
    <md-step label="" md-complete="vm.stepData[4].data.completed" ng-disabled="vm.stepProgress < 5">
      <md-step-body>
        <form name="step5" ng-submit="vm.submitCurrentStep('step5')">
          <md-content class="md-padding widthOfHome" style="min-height: 526px;">

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>

                <label class="textLightFont" for="input_24">Behandlungsdatum 1 <span class="red">*</span> <br/></label>
                <input class="dateBorderNone" type="text" type="text" data-datepicker="{theme: 'flat', readonly : false}" ng-model="vm.patient.behandlungsdatum_1" required>

                <a href class="md-icon-button md-button" ng-click="vm.patient.behandlungsdatum_1=''" style="padding-top: .5rem;display:inline-block">
                  <md-icon><i class="fa fa-undo" aria-hidden="true" style="font-size: 1rem;"></i></md-icon>
                </a>

              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm ng-show="vm.patient.behandlungsdatum_1">
                <label class="textLightFont" for="input_24">Behandlungsdatum 2  <br/></label>
                <input class="dateBorderNone" ng-change="vm.reset(2, vm.patient.behandlungsdatum_2)" type="text" type="text" data-datepicker="{theme: 'flat', readonly : false}" ng-model="vm.patient.behandlungsdatum_2">
                <a href class="md-icon-button md-button" ng-click="vm.patient.behandlungsdatum_2=''; vm.reset(2, vm.patient.behandlungsdatum_2)" style="padding-top: .5rem;">
                  <md-icon><i class="fa fa-undo" aria-hidden="true" style="font-size: 1rem;"></i></md-icon>
                </a>
              </md-input-container>
            </div>

            <div layout-gt-sm="row" ng-show="vm.patient.behandlungsdatum_2">
              <md-input-container class="md-block" flex-gt-sm>
                <label class="textLightFont" for="input_24">Behandlungsdatum 3  <br/></label>
                <input class="dateBorderNone" ng-blur="vm.reset(3, vm.patient.behandlungsdatum_3)" type="text" type="text" data-datepicker="{theme: 'flat', readonly : false}" ng-model="vm.patient.behandlungsdatum_3">
                <a href class="md-icon-button md-button" ng-click="vm.patient.behandlungsdatum_3='';vm.reset(3, vm.patient.behandlungsdatum_3)" style="padding-top: .5rem;">
                  <md-icon><i class="fa fa-undo" aria-hidden="true" style="font-size: 1rem;"></i></md-icon>
                </a>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm ng-show="vm.patient.behandlungsdatum_3">
                <label class="textLightFont" for="input_24">Behandlungsdatum 4  <br/></label>
                <input class="dateBorderNone" type="text" ng-blur="vm.reset(4, vm.patient.behandlungsdatum_4)" type="text" data-datepicker="{theme: 'flat', readonly : false}" ng-model="vm.patient.behandlungsdatum_4">
                <a href class="md-icon-button md-button" ng-click="vm.patient.behandlungsdatum_4='';vm.reset(4, vm.patient.behandlungsdatum_4)" style="padding-top: .5rem;">
                  <md-icon><i class="fa fa-undo" aria-hidden="true" style="font-size: 1rem;"></i></md-icon>
                </a>
              </md-input-container>
            </div>

            <div layout-gt-sm="row" ng-show="vm.patient.behandlungsdatum_2 && vm.patient.behandlungsdatum_3 && vm.patient.behandlungsdatum_4">
              <md-input-container class="md-block" flex-gt-sm>
                <label class="textLightFont" for="input_24">Behandlungsdatum 5  <br/></label>
                <input class="dateBorderNone" type="text" type="text" data-datepicker="{theme: 'flat', readonly : false}" ng-blur="vm.reset(5, vm.patient.behandlungsdatum_5)" ng-model="vm.patient.behandlungsdatum_5" />
                <a href class="md-icon-button md-button" ng-click="vm.patient.behandlungsdatum_5='';vm.reset(5, vm.patient.behandlungsdatum_5)" style="padding-top: .5rem;">
                  <md-icon><i class="fa fa-undo" aria-hidden="true" style="font-size: 1rem;"></i></md-icon>
                </a>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm ng-show="vm.patient.behandlungsdatum_5">
                <label class="textLightFont" for="input_24">Behandlungsdatum 6  <br/></label>
                <input class="dateBorderNone" type="text" type="text" data-datepicker="{theme: 'flat', readonly : false}" ng-blur="vm.reset(6, vm.patient.behandlungsdatum_6)" ng-model="vm.patient.behandlungsdatum_6" />
                <a href class="md-icon-button md-button" ng-click="vm.patient.behandlungsdatum_6='';vm.reset(6, vm.patient.behandlungsdatum_6)" style="padding-top: .5rem;">
                  <md-icon><i class="fa fa-undo" aria-hidden="true" style="font-size: 1rem;"></i></md-icon>
                </a>
              </md-input-container>
            </div>

            <div layout-gt-sm="row" ng-show="vm.patient.behandlungsdatum_2 && vm.patient.behandlungsdatum_3 && vm.patient.behandlungsdatum_4 && vm.patient.behandlungsdatum_5 && vm.patient.behandlungsdatum_6">
              <md-input-container class="md-block" flex-gt-sm>
                <label class="textLightFont" for="input_24">Behandlungsdatum 7  <br/></label>
                <input class="dateBorderNone" type="text" type="text" data-datepicker="{theme: 'flat', readonly : false}" ng-blur="vm.reset(7, vm.patient.behandlungsdatum_7)" ng-model="vm.patient.behandlungsdatum_7" />
                <a href class="md-icon-button md-button" ng-click="vm.patient.behandlungsdatum_7='';vm.reset(7, vm.patient.behandlungsdatum_7)" style="padding-top: .5rem;">
                  <md-icon><i class="fa fa-undo" aria-hidden="true" style="font-size: 1rem;"></i></md-icon>
                </a>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm ng-show="vm.patient.behandlungsdatum_7">
                <label class="textLightFont" for="input_24">Behandlungsdatum 8  <br/></label>
                <input class="dateBorderNone" type="text" type="text" data-datepicker="{theme: 'flat', readonly : false}" ng-blur="vm.reset(8, vm.patient.behandlungsdatum_8)" ng-model="vm.patient.behandlungsdatum_8">
                <a href class="md-icon-button md-button" ng-click="vm.patient.behandlungsdatum_8='';vm.reset(8, vm.patient.behandlungsdatum_8)" style="padding-top: .5rem;">
                  <md-icon><i class="fa fa-undo" aria-hidden="true" style="font-size: 1rem;"></i></md-icon>
                </a>
              </md-input-container>
            </div>

            <div layout-gt-sm="row" ng-show="vm.patient.behandlungsdatum_2 && vm.patient.behandlungsdatum_3 && vm.patient.behandlungsdatum_4 && vm.patient.behandlungsdatum_5 && vm.patient.behandlungsdatum_6 && vm.patient.behandlungsdatum_7 && vm.patient.behandlungsdatum_8">
              <md-input-container class="md-block" flex-gt-sm>
                <label class="textLightFont" for="input_24">Behandlungsdatum 9  <br/></label>
                <input class="dateBorderNone" type="text" type="text" data-datepicker="{theme: 'flat', readonly : false}" ng-blur="vm.reset(9, vm.patient.behandlungsdatum_9)" ng-model="vm.patient.behandlungsdatum_9">
                <a href class="md-icon-button md-button" ng-click="vm.patient.behandlungsdatum_9='';vm.reset(9, vm.patient.behandlungsdatum_9)" style="padding-top: .5rem;">
                  <md-icon><i class="fa fa-undo" aria-hidden="true" style="font-size: 1rem;"></i></md-icon>
                </a>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm ng-show="vm.patient.behandlungsdatum_9">
                <label class="textLightFont" for="input_24">Behandlungsdatum 10  <br/></label>
                <input class="dateBorderNone" type="text" type="text" ng-blur="vm.reset(10, vm.patient.behandlungsdatum_10)" data-datepicker="{theme: 'flat', readonly : false}" ng-model="vm.patient.behandlungsdatum_10">
                <a href class="md-icon-button md-button" ng-click="vm.patient.behandlungsdatum_10='';vm.reset(10, vm.patient.behandlungsdatum_10)" style="padding-top: .5rem;">
                  <md-icon><i class="fa fa-undo" aria-hidden="true" style="font-size: 1rem;"></i></md-icon>
                </a>
              </md-input-container>
            </div>
          </md-content>
          <md-step-actions layout="row">
            <div flex layout="row" layout-align="center ceter">
              <md-button ng-click="vm.moveToPreviousStep()">Zurück</md-button>
            </div>
            <div flex layout="row" layout-align="center ceter">
              <!-- <md-button class="md-warn">CANCEL</md-button> -->
              <md-button type="submit" ng-disabled="step5.$invalid || vm.showBusyText || isLoading" class="md-primary md-raised">Senden</md-button>
            </div>
          </md-step-actions>
        </form>
      </md-step-body>
    </md-step>
    <md-step label="" md-complete="vm.stepData[5].data.completed" ng-disabled="vm.stepProgress < 5">
      <md-step-body>
        <form name="step2" class="text-align">
          <md-content class="md-padding widthOfHome">
            <div layout="column" layout-align="center center" style="min-height: 200px">

              <h4>Abrechnung Praxis</h4>
              <p>Fertig</p>
              <md-button ng-click="vm.reload()" class="md-primary md-raised">Weiter machen?</md-button>
            </div>
          </md-content>
        </form>
      </md-step-body>
    </md-step>
  </md-steppers>
</md-stepper-card-content>
