

<div class="md-no-padding" style="width: 46%; margin: 28px auto;">
   

    <div id="page_1" style="border:none;margin:auto;overflow:hidden;padding:0;padding-top:118px;position:relative;width:595px!important">
    <div id="id_1" style="border:none;margin:0;overflow:hidden;padding:0;width:696px">
        <p class="p0 ft0" style="font:11px Arial;line-height:14px;margin-bottom:0;margin-top:0;text-align:left">Osteopathiepraxis Menk • Geibelstr. 41 • 40235 Düsseldorf</p>
    </div>
    <div id="id_2" style="border:none;margin:17px 0 0 7px;overflow:hidden;padding:0;width:689px">
        <div id="id_2_1" style="border:none;float:left;margin:2px 0 0 0;overflow:hidden;padding:0;width:382px">
            <p class="p0 ft1" style="font:16px Arial;line-height:18px;margin-bottom:0;margin-top:0;text-align:left">{{vm.patient.nachname}}, {{vm.patient.vorname}}</p>
            <p class="p1 ft1" style="font:16px Arial;line-height:18px;margin-bottom:0;margin-top:4px;text-align:left">{{vm.patient.strabeHausnummer}}</p>
            <p class="p2 ft1" style="font:16px Arial;line-height:18px;margin-bottom:0;margin-top:3px;text-align:left">{{vm.patient.plz}} {{vm.patient.stadt}}</p>
        </div>
        <div id="id_2_2" style="border:none;float:left;margin:0;overflow:hidden;padding:0;width:307px">
            <p class="p0 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left">Julia Menk</p>
            <p class="p3 ft3" style="font:12px Arial;line-height:14px;margin-bottom:0;margin-top:0;padding-right:122px;text-align:left">Heilpraktikerin/ Physiotherapeutin Praxis für Osteopathie</p>
            <p class="p4 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-right:158px;text-align:left">Tel.:
            <nobr>0211-93</nobr>89 33 00
            <nobr>www.osteopathie-menk.de</nobr>
            </p>
        </div>
    </div>
    <div id="id_3" style="border:none;margin:45px 0 0 0;overflow:hidden;padding:0;width:696px">
    <table cellpadding="0" cellspacing="0" class="t0" style="font:13px Arial;width:416px">
        <tbody>
        <tr>
            <td class="tr0 td0" style="height:23px;margin:0;padding:0;vertical-align:bottom;width:179px">
                <p class="p5 ft4" style="font:15px Arial;line-height:17px;margin-bottom:0;margin-top:0;padding-left:4px;text-align:left;white-space:nowrap">Rechnungsnummer</p>
            </td>
            <td class="tr0 td1" style="height:23px;margin:0;padding:0;vertical-align:bottom;width:135px">
                <p class="p6 ft4" style="font:15px Arial;line-height:17px;margin-bottom:0;margin-top:0;padding-left:23px;text-align:left;white-space:nowrap">Datum</p>
            </td>
            <td class="tr0 td2" style="height:23px;margin:0;padding:0;vertical-align:bottom;width:102px">
                <p class="p7 ft4" style="font:15px Arial;line-height:17px;margin-bottom:0;margin-top:0;padding-left:68px;text-align:left;white-space:nowrap">Seite</p>
            </td>
        </tr>
        <tr>
            <td class="tr0 td0" style="height:23px;margin:0;padding:0;vertical-align:bottom;width:179px">
                <p class="p5 ft5" style="font:13px Arial;line-height:16px;margin-bottom:0;margin-top:0;padding-left:4px;text-align:left;white-space:nowrap">{{vm.patient.billNo}}</p>
            </td>
            <td class="tr0 td1" style="height:23px;margin:0;padding:0;vertical-align:bottom;width:135px">
                <p class="p6 ft5" style="font:13px Arial;line-height:16px;margin-bottom:0;margin-top:0;padding-left:23px;text-align:left;white-space:nowrap">{{vm.patient.heute | date : 'dd.MM.yyyy'}}</p>
            </td>
            <td class="tr0 td2" style="height:23px;margin:0;padding:0;vertical-align:bottom;width:102px">
                <p class="p7 ft5" style="font:13px Arial;line-height:16px;margin-bottom:0;margin-top:0;padding-left:68px;text-align:left;white-space:nowrap">1/1</p>
            </td>
        </tr>
        <tr>
            <td class="tr1 td0" style="height:38px;margin:0;padding:0;vertical-align:bottom;width:179px">
                <p class="p8 ft5" style="font:13px Arial;line-height:16px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">{{vm.patient.anrede}} {{vm.patient.nachname}},</p>
            </td>
            <td class="tr1 td1" style="height:38px;margin:0;padding:0;vertical-align:bottom;width:135px">
                <p class="p8 ft6" style="font:1px Arial;line-height:1px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">&nbsp;</p>
            </td>
            <td class="tr1 td2" style="height:38px;margin:0;padding:0;vertical-align:bottom;width:102px">
                <p class="p8 ft6" style="font:1px Arial;line-height:1px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">&nbsp;</p>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="p9 ft5" style="font:13px Arial;line-height:16px;margin-bottom:0;margin-top:8px;padding-right:157px;text-align:left">ich erlaube mir, nachfolgend aufgeführte Leistungen {{vm.patient.kind}} {{vm.patient.gebDatumKind | date : 'dd.MM.yyyy'}} {{vm.patient.gebuh}} in Rechnung zu stellen. {{vm.patient.ausfall}} {{vm.patient.grund}} {{vm.formatPrintf(vm.patient.diagnose, vm.patient.diagnoseOther)}} {{vm.patient.empfehlungsdatum | date : 'dd.MM.yyyy'}}.</p>
    <table
            cellpadding="0" cellspacing="0" class="t1" style="font:12px Arial;margin-left:4px;margin-top:12px;min-height:238px!important;width:589px">
        <tbody>
        <tr>
            <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">
                <p class="p8 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">Datum</p>
            </td>
            <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">
                <p class="p10 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Leistung</p>
            </td>
            <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">
                <p class="p11 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">Betrag</p>
            </td>
        </tr>
        <tr>
            <td class="tr3 td3" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:78px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">{{vm.patient.behandlungsdatum_1 | date : 'dd.MM.yyyy'}}</p>
            </td>
            <td class="tr3 td4" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:470px">
                <p class="p12 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:41px;text-align:left;white-space:nowrap">{{vm.patient.leistung1}}</p>
            </td>
            <td class="tr3 td5" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:41px">
                <p class="p13 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-right:1px;text-align:right;white-space:nowrap">{{vm.format(vm.patient.betrag1)}}</p>
            </td>
        </tr>
        <tr>
            <td class="tr3 td3" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:78px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">{{vm.patient.behandlungsdatum_2 | date : 'dd.MM.yyyy'}}</p>
            </td>
            <td class="tr3 td4" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:470px">
                <p class="p12 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:41px;text-align:left;white-space:nowrap">{{vm.patient.leistung2}}</p>
            </td>
            <td class="tr3 td5" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:41px">
                <p class="p13 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-right:1px;text-align:right;white-space:nowrap">{{vm.format(vm.patient.betrag2)}}</p>
            </td>
        </tr>
        <tr>
            <td class="tr3 td3" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:78px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">{{vm.patient.behandlungsdatum_3 | date : 'dd.MM.yyyy'}}</p>
            </td>
            <td class="tr3 td4" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:470px">
                <p class="p12 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:41px;text-align:left;white-space:nowrap">{{vm.patient.leistung3}}</p>
            </td>
            <td class="tr3 td5" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:41px">
                <p class="p13 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-right:1px;text-align:right;white-space:nowrap">{{vm.format(vm.patient.betrag3)}}</p>
            </td>
        </tr>
        <tr>
            <td class="tr3 td3" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:78px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">{{vm.patient.behandlungsdatum_4 | date : 'dd.MM.yyyy'}}</p>
            </td>
            <td class="tr3 td4" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:470px">
                <p class="p12 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:41px;text-align:left;white-space:nowrap">{{vm.patient.leistung4}}</p>
            </td>
            <td class="tr3 td5" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:41px">
                <p class="p13 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-right:1px;text-align:right;white-space:nowrap">{{vm.format(vm.patient.betrag4)}}</p>
            </td>
        </tr>
        <tr>
            <td class="tr3 td3" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:78px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">{{vm.patient.behandlungsdatum_5 | date : 'dd.MM.yyyy'}}</p>
            </td>
            <td class="tr3 td4" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:470px">
                <p class="p12 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:41px;text-align:left;white-space:nowrap">{{vm.patient.leistung5}}</p>
            </td>
            <td class="tr3 td5" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:41px">
                <p class="p13 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-right:1px;text-align:right;white-space:nowrap">{{vm.format(vm.patient.betrag5)}}</p>
            </td>
        </tr>
        <tr>
            <td class="tr3 td3" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:78px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">{{vm.patient.behandlungsdatum_6 | date : 'dd.MM.yyyy'}}</p>
            </td>
            <td class="tr3 td4" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:470px">
                <p class="p12 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:41px;text-align:left;white-space:nowrap">{{vm.patient.leistung6}}</p>
            </td>
            <td class="tr3 td5" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:41px">
                <p class="p13 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-right:1px;text-align:right;white-space:nowrap">{{vm.format(vm.patient.betrag6)}}</p>
            </td>
        </tr>
        <tr>
            <td class="tr3 td3" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:78px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">{{vm.patient.behandlungsdatum_7 | date : 'dd.MM.yyyy'}}</p>
            </td>
            <td class="tr3 td4" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:470px">
                <p class="p12 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:41px;text-align:left;white-space:nowrap">{{vm.patient.leistung7}}</p>
            </td>
            <td class="tr3 td5" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:41px">
                <p class="p13 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-right:1px;text-align:right;white-space:nowrap">{{vm.format(vm.patient.betrag7)}}</p>
            </td>
        </tr>
        <tr>
            <td class="tr3 td3" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:78px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">{{vm.patient.behandlungsdatum_8 | date : 'dd.MM.yyyy'}}</p>
            </td>
            <td class="tr3 td4" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:470px">
                <p class="p12 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:41px;text-align:left;white-space:nowrap">{{vm.patient.leistung8}}</p>
            </td>
            <td class="tr3 td5" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:41px">
                <p class="p13 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-right:1px;text-align:right;white-space:nowrap">{{vm.format(vm.patient.betrag8)}}</p>
            </td>
        </tr>
        <tr>
            <td class="tr3 td3" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:78px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">{{vm.patient.behandlungsdatum_9 | date : 'dd.MM.yyyy'}}</p>
            </td>
            <td class="tr3 td4" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:470px">
                <p class="p12 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:41px;text-align:left;white-space:nowrap">{{vm.patient.leistung9}}</p>
            </td>
            <td class="tr3 td5" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:41px">
                <p class="p13 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-right:1px;text-align:right;white-space:nowrap">{{vm.format(vm.patient.betrag9)}}</p>
            </td>
        </tr>
        <tr>
            <td class="tr3 td3" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:78px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">{{vm.patient.behandlungsdatum_10 | date : 'dd.MM.yyyy'}}</p>
            </td>
            <td class="tr3 td4" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:470px">
                <p class="p12 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:41px;text-align:left;white-space:nowrap">{{vm.patient.leistung10}}</p>
            </td>
            <td class="tr3 td5" style="height:22px;margin:0;padding:0;vertical-align:bottom;width:41px">
                <p class="p13 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-right:1px;text-align:right;white-space:nowrap">{{vm.format(vm.patient.betrag10)}}</p>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" class="t2" style="border-top:solid 1px #000;float:left;font:16px Arial;margin-left:4px;margin-top:50px;width:592px">
        <tbody>
        <tr>
            <td class="tr4 td6" style="height:25px;margin:0;padding:0;vertical-align:bottom;width:427px">
                <p class="p8 ft1" style="font:16px Arial;line-height:18px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">Summe</p>
            </td>
            <td class="tr4 td7" style="height:25px;margin:0;padding:0;vertical-align:bottom;width:165px">
                <p class="p14 ft1" style="font:16px Arial;line-height:18px;margin-bottom:0;margin-top:0;padding-left:99px;text-align:left;white-space:nowrap">{{vm.format(vm.patient.gesamt)}}</p>
            </td>
        </tr>
        <tr>
            <td class="tr5 td6" style="height:14px;margin:0;padding:0;vertical-align:bottom;width:427px">
                <p class="p8 ft10" style="font:1px Arial;line-height:14px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">&nbsp;</p>
            </td>
            <td class="tr5 td7" style="height:14px;margin:0;padding:0;vertical-align:bottom;width:165px">
                <p class="p8 ft11" style="font:8px Arial;line-height:10px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">steuerfreie Leistung nach §4 Nr. 14 UStG</p>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="p15 ft5" style="font:13px Arial;line-height:16px;margin-bottom:0;margin-top:0;padding-right:121px;text-align:left"><span class="ft12" style="font:700 13px Arial;line-height:16px">Bitte beachten Sie</span>: <span class="ft13" style="font:700 13px Gautami;line-height:16px">​</span>Der Rechnungsbetrag ist sofort ab Zugang der Rechnung ohne Abzug zahlbar. Es gilt die
        Zahlungsverzugsregelung nach § 286 Abs. 3 BGB.</p>
    <p class="p0 ft5" style="font:13px Arial;line-height:16px;margin-bottom:0;margin-top:0;text-align:left">Bei Überweisung geben Sie bitte die o.g. Rechnungsnummer im Betreff an.</p>
    <p class="p16 ft5" style="font:13px Arial;line-height:16px;margin-bottom:0;margin-top:16px;text-align:left">Mit freundlichem Gruß</p>
    <p class="p17 ft5" style="font:13px Arial;line-height:16px; padding-top:60px;margin-bottom:0;margin-top:40px;text-align:left">Julia Menk</p>
    <table cellpadding="0" cellspacing="0" class="t3" style="border-top:solid 1px #000;float:left;font:12px Arial;width:598px">
        <tbody>
        <tr>
            <td class="tr2 td8" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:195px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">Bankverbindung: Consors Bank</p>
            </td>
            <td class="tr2 td9" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:284px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">Konto: 84 737 600 00</p>
            </td>
            <td class="tr2 td10" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:119px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">BLZ: 70 120 400</p>
            </td>
        </tr>
        <tr>
            <td class="tr6 td8" style="height:17px;margin:0;padding:0;vertical-align:bottom;width:195px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">USt­ IdNr.: DE289420854</p>
            </td>
            <td class="tr6 td9" style="height:17px;margin:0;padding:0;vertical-align:bottom;width:284px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">IBAN: DE69 7012 0400 8473 7600 00</p>
            </td>
            <td class="tr6 td10" style="height:17px;margin:0;padding:0;vertical-align:bottom;width:119px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">BIC: DABBDEMMXXX</p>
            </td>
        </tr>
        </tbody>
    </table>




    </div>
    </div>

    <div id="page_1" style="border:none;margin:auto;overflow:hidden;padding:0;padding-top:10px;position:relative;width:595px!important">
    <div id="id_3" style="border:none;margin:45px 0 0 0;overflow:hidden;padding:0;width:696px">

    <div ng-show="vm.patient.gebuHZiffern === 'HP'" id="page_1" style="margin-top: 370px !important;border:none;margin:auto;overflow:hidden;padding:0;padding-top:118px;position:relative;width:595px!important">
              <div id="id_3" style="border:none;margin:45px 0 0 0;overflow:hidden;padding:0;width:696px">  
                  <table  
                  cellpadding="0" cellspacing="0" class="t1" style="font:12px Arial;margin-left:4px;margin-top:12px;min-height:238px!important;width:589px">  
                      <tbody>  
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">Übersicht der GebüH Ziffern:</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">&nbsp;</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">&nbsp;</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">Ziffer</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Beschreibung</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">Betrag</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">1</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Untersuchung</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">12,50 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">5</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Beratung, auch telefonisch</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">4,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.1</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Atemther. Behandlungsverfahren</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">10,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.2</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Nervenpunktmassage</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">4,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.5</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Großmassage</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">6,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.7</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Aufbauübungen und Mobilisation</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">6,50 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.8</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Einreibung zu therapeut. Zwecken</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">6,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">34.2</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Chiropraktischer Eingriff gezielt</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">17,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">35.2</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Osteopathie Schulter und BWS</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">21,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">35.3</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Osteopathie Extremitäten</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">10,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">35.4</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Osteopathie Schlüsselbein/Knie</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">12,00 €</p>  
                                      </td>  
                              </tr>  
                
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">35.6</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Osteopathie Finger/Zehen</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">11,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">39.6</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Heizsonne</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">4,00 €</p>  
                                      </td>  
                              </tr>  
                
                      </tbody>  
                  </table>  
                  </div>  
         </div>


      <div id="page_1" ng-show="vm.patient.gebuHZiffern === 'HP- Physio'" style="margin-top: 370px !important;border:none;margin:auto;overflow:hidden;padding:0;padding-top:118px;position:relative;width:595px!important">
              <div id="id_3" style="border:none;margin:45px 0 0 0;overflow:hidden;padding:0;width:696px">  
                  <table  
                  cellpadding="0" cellspacing="0" class="t1" style="font:12px Arial;margin-left:4px;margin-top:12px;min-height:238px!important;width:589px">  
                      <tbody>  
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">Übersicht der GebüH Ziffern:</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">&nbsp;</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">&nbsp;</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">Ziffer</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Beschreibung</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:700 12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">Betrag</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">A1</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Untersuchung; Anmerkung: erhöhter Zeitaufwand, da umfangreiche Symptomatik</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">18,50 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">3</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Kurze Information</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">3,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">4</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Eingehende Beratung</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">18,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">5</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Beratung, auch telefonisch</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">4,80 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">17.1</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Neurologische Untersuchung</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">19,50 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">A18.2</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Krankengymnastik</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">13,50 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.1</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Atemtherapie</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">8,20 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.2</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Nervenpunktmassage</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">6,50 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.3</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Bindegewebsmassage</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">6,00 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.4</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Teilmassage</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">4,80 €</p>  
                                      </td>  
                              </tr>  
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.6</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Sondermassage</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">8,00 €</p>  
                                      </td>  
                              </tr>  
                
                
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.7</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Aufbauübungen und Mobilisation</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">5,00 €</p>  
                                      </td>  
                              </tr>  

                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">20.8</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Einreibung zu therapeutischen Zwecken </p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">5,20 €</p>  
                                      </td>  
                              </tr>  
                          <tr>  
                                  <td class="tr2 td3" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:78px">  
                                          <p class="p8 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">39.6</p>  
                                      </td>  
                                  <td class="tr2 td4" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:470px">  
                                          <p class="p10 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;padding-left:37px;text-align:left;white-space:nowrap">Wärmeanwendung</p>  
                                      </td>  
                                  <td class="tr2 td5" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:41px">  
                                          <p class="p11 ft9" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:right;white-space:nowrap">4,80 €</p>  
                                      </td>  
                              </tr>  
                      </tbody>  
                  </table>  
                  </div>  
         </div>  ;

    <table ng-show="vm.patient.gebuHZiffern === 'HP- Physio' || vm.patient.gebuHZiffern === 'HP'" cellpadding="0" cellspacing="0" class="t3" style="border-top:solid 1px #000;float:left;font:12px Arial;width:598px; margin-top: 100px;">
        <tbody>
        <tr>
            <td class="tr2 td8" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:195px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">Bankverbindung: Consors Bank</p>
            </td>
            <td class="tr2 td9" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:284px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">Konto: 84 737 600 00</p>
            </td>
            <td class="tr2 td10" style="height:18px;margin:0;padding:0;vertical-align:bottom;width:119px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">BLZ: 70 120 400</p>
            </td>
        </tr>
        <tr>
            <td class="tr6 td8" style="height:17px;margin:0;padding:0;vertical-align:bottom;width:195px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">USt­ IdNr.: DE289420854</p>
            </td>
            <td class="tr6 td9" style="height:17px;margin:0;padding:0;vertical-align:bottom;width:284px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">IBAN: DE69 7012 0400 8473 7600 00</p>
            </td>
            <td class="tr6 td10" style="height:17px;margin:0;padding:0;vertical-align:bottom;width:119px">
                <p class="p8 ft2" style="font:12px Arial;line-height:15px;margin-bottom:0;margin-top:0;text-align:left;white-space:nowrap">BIC: DABBDEMMXXX</p>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

</div>