<header ng-include="'/modules/core/client/views/header.client.view.html'"></header>



<!-- table Grid Section -->
<section style="margin-top: 5px;">
    <div class="container">
        <div class="dateTable">
            <div class="SearchBar">
                <h3 class="headingh">Records</h3>
                <input type="text" name="search" ng-change="vm.query && vm.query.length ? vm.find(vm.query) : ''" ng-model="vm.query" placeholder="Search..">
            </div>
            <table class="detaTable">

                <tr>
                    <th>Rechnr</th>
                    <th>Name</th>
                    <th>Vorname</th>
                    <th>Rechnungsart</th>
                    <th>Betrag</th>
                    <th>Created By</th>
                    <th>Erstellt am:</th>
                    <th style="text-align: center">Anpassen</th>
                    <th style="text-align: center">Drucken</th>
                    <th style="text-align: center">
                        <!--Email-->
                        <md-checkbox ng-model="sendToAll" ng-change="setToAllFn(sendToAll)" class="md-primary"></md-checkbox>
                        <a ng-click="vm.showPrompt($event, patient, $index)"><i class="fa fa-envelope edit circleButton" aria-hidden="true" style="background: rebeccapurple;"></i></a>
                    </th>
                    <th style="text-align: center">Löschen</th>
                </tr>
                <tr ng-repeat="patient in vm.patients">
                    <td>{{patient.billNo}}</td>
                    <td>{{patient.nachname}}</td>
                    <td>{{patient.vorname}}</td>
                    <td>{{patient.rechnungsart}}</td>
                    <td>{{patient.summe || 0}} €</td>
                    <th>{{patient.user.displayName}}</th>
                    <td>{{patient.created | date : 'dd.MM.yyyy HH.mm'}}</td>
                    <td style="text-align: center"><a href="/record/{{patient._id}}"> <i class="fa fa-eye edit circleButton" aria-hidden="true" style="background: orange;"></i></a></td>
                    <td style="text-align: center"><a href="/print/{{patient._id}}"><i class="fa fa-print edit circleButton" aria-hidden="true"></i></a></td>
                    <td style="text-align: center">
                        <!--<a ng-click="vm.showPrompt($event, patient, $index)"><i class="fa fa-envelope edit circleButton" aria-hidden="true" style="background: rebeccapurple;"></i></a>-->
                        <md-checkbox ng-model="patient.isSelect" class="md-primary"></md-checkbox>
                    </td>
                    <td style="text-align: center"><a ng-click="vm.showConfirm($event, patient, $index)"><i class="fa fa-trash edit circleButton" aria-hidden="true" style="background: red;"></i></a></td>
                </tr>
            </table>

            <cl-paging flex cl-pages="paging.total" cl-steps="6"  cl-page-changed="paging.onPageChanged()"  cl-align="center center"  cl-current-page="paging.page"></cl-paging>
        </div>

    </div>


</section>

