@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}

.social-account-container {
    display: inline-block;
    position: relative;
}

.btn-remove-account {
    top: 10px;
    right: 10px;
    position: absolute;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: white;
    cursor: inherit;
    display: block;
}

.user-profile-picture {
    min-height: 105px;
    max-height: 105px;
}

.si-form {
    margin: 100px 0;
    padding: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 rgba(0, 0, 0, .24);
}

.add-prizes {
    margin: 100px 0;
}

.progress-box {
    width: 100%;
}

.percentage-cur {
    position: relative;
}

.progress-box .percentage-cur .num {
    position: absolute;
    z-index: 1;
    top: 5px;
    display: block;
    width: 100%;
    text-align: center;
}

.progress-box .progress-bar {
    width: 100%;
    height: 34px;
    background: #f2f1f1;
    margin-bottom: 3px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 2px #D5D4D4 inset;
    position: relative;
}

.progress-box .progress-bar .inner {
    position: relative;
    width: 0;
    height: 100%;
    background: #239bd6;
}

.progress-bar .inner {
    height: 0;
    width: 0;
    transition: all 1s ease-out;
}

.progress-bar-slider .inner {
    transition: none;
}

.progress-bar-slider .inner:after {
    content: " ";
    width: 10px;
    height: 34px;
    background-color: #ccc;
    position: absolute;
    right: -2px;
    top: -2px;
    border: 1px solid #bbb;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    margin: 0px;
}

.progress-slider {
    opacity: 0;
    width: 100%;
    height: 34px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    z-index: 1;
}

.stats-panel {
    min-height: 150px;
}
