<div class="myaccount">
    <div class="row">
        <div class="col-sm-6">
            <h4>Mijn account</h4>
            <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid, 'User info');">
                <div class="panel panel-default panel-myaccount sh">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Contactgegevens</h3>
                        <a class="pull-right" href="" ng-hide="vm.actionSelection.isProfileEdit" ng-click="vm.actionSelection.isProfileEdit=true">Bewerken</a>
                        <button class="btn btn-save btn-sm pull-right" type="submit" ng-show="vm.actionSelection.isProfileEdit">save</button>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label class="control-label" for="name">Gebruikersnaam</label>
                                    <input type="text" class="form-control" id="name" ng-model="vm.user.username" readonly>

                                </div>
                            </div>
                            <div class="col-sm-5">
                                <!-- <img ng-src="modules/core/client/img/assets/about-us-1.png" class="img-responsive center-block" src="modules/core/client/img/assets/about-us-1.png">-->


                                <img ng-src="{{vm.imageURL}}" alt="{{vm.user.displayName}}" class="img-responsive user-profile-picture center-block">

                                <div class="text-center" ng-hide="vm.uploader.queue.length || !vm.actionSelection.isProfileEdit" ng-click="vm.imageType.type='image'">
                                    <span class="btn btn-default btn-file ">
          Select Image <input type="file" nv-file-select uploader="vm.uploader">
      </span>
                                </div>
                                <div class="text-center" ng-show="vm.uploader.queue.length && vm.imageType.type == 'image'">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <div class="btn-group btn-group-sm" role="group">
                                            <button type="button" class="btn btn-default" ng-click="vm.uploadProfilePicture();"><i class="fa fa-upload" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="btn-group btn-group-sm" role="group">
                                            <button type="button" class="btn btn-danger" ng-click="vm.cancelUpload();"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div ng-show="vm.success" class="text-center text-success">
                                        <strong>Profile Picture Changed Successfully</strong>
                                    </div>
                                    <div ng-show="vm.error" class="text-center text-danger">
                                        <strong ng-bind="vm.error"></strong>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email-adres</label>
                            <input type="text" class="form-control" ng-model="vm.user.email" id="email" ng-readonly="!vm.actionSelection.isProfileEdit">

                        </div>

                        <!-- <div class="form-group">
                            <label class="control-label" for="email">Wachtwoord</label>
                            <input type="text" class="form-control" id="email" value="voorbeeld-naam" ng-readonly="!vm.actionSelection.isProfileEdit">
                            <button class="btn btn-save btn-sm pull-right" type="button" ng-show="vm.actionSelection.isProfileEdit">Change Password</button>

                        </div>-->

                        <div class="form-group">
                            <label class="control-label" for="message">Profiel zichtbaar op site</label>
                            <div class="clearfix"></div>
                            <div class="radio radio-success radio-inline">
                                <input type="radio" name="radiogroup" id="yes" ng-model="vm.user.isShowProfile" value="yes" ng-disabled="!vm.actionSelection.isProfileEdit">
                                <label for="yes">
                                    Ja
                                </label>
                            </div>
                            <div class="radio radio-success radio-inline">
                                <input type="radio" name="radiogroup" id="no" ng-model="vm.user.isShowProfile" value="no" ng-disabled="!vm.actionSelection.isProfileEdit">
                                <label for="no">
                                    Nee
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Gekozen doel</label>
                            <p ng-show="!vm.actionSelection.isProfileEdit" class="form-control-static">{{vm.user.goalTarget}}</p>
                            <select class="form-control" ng-model="vm.user.goalTarget" ng-show="vm.actionSelection.isProfileEdit">
                                <option value="" disabled>-- Kiezen Gekozen doel --</option>
                                <option value="Dieren">Dieren</option>
                                <option value="Gezondheid">Gezondheid</option>
                                <option value="Kinderen ">Kinderen</option>
                                <option value="Mensen">Mensen</option>
                                <option value="Natuur">Natuur</option>
                                <option value="Religieus">Religieus</option>
                            </select>
                        </div>



                    </div>

                </div>
                <!--panel ends-->
            </form>
            <!--form ends -->
        </div>
        <!--col ends-->

        <div class="col-sm-6">

            <h4>&nbsp;</h4>

            <div class="panel panel-default panel-myaccount sh" ng-hide="vm.user.goal">

                <div class="panel-body">
                    <a class="btn btn-save btn-block sp_btn " ui-sref="charitysetup">Maak hier je eigen project aan!</a>

                </div>
            </div>


            <form name="vm.goalForm" ng-submit="vm.updateGoalInfo()" ng-show="vm.user.goal">
                <div class="panel panel-default panel-myaccount sh">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Mijn doel</h3>
                        <a class="pull-right" href="" ng-hide="vm.actionSelection.isGoalEdit" ng-click="vm.actionSelection.isGoalEdit=true">Bewerken</a>
                        <button class="btn btn-save btn-sm pull-right" type="submit" ng-show="vm.actionSelection.isGoalEdit">save</button>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label class="control-label" for="vm.goal.goalName">Naam doel</label>
                                        <input type="text" class="form-control" ng-model="vm.goal.title" id="vm.goal.goalName" readonly>

                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <!-- <img ng-src="modules/core/client/img/assets/about-us-1.png" class="img-responsive center-block" src="modules/core/client/img/assets/about-us-1.png">-->


                                    <img ng-src="{{vm.goalImageUrl ? vm.goalImageUrl : ''}}" alt="{{vm.goal.displayName}}" class="img-responsive user-profile-picture center-block">

                                    <div class="text-center" ng-hide="vm.uploader.queue.length || !vm.actionSelection.isGoalEdit" ng-click="vm.imageType.type='goal'">
                                        <span class="btn btn-default btn-file ">
              Select Image <input type="file" nv-file-select uploader="vm.uploader">
          </span>
                                    </div>
                                    <div class="text-center" ng-show="vm.uploader.queue.length && vm.imageType.type == 'goal'">
                                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-default" ng-click="vm.uploadProfilePicture();"><i class="fa fa-upload" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <button type="button" class="btn btn-danger" ng-click="vm.cancelUpload();"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                      <!--  <div ng-show="vm.success" class="text-center text-success">
                                            <strong>Profile Picture Changed Successfully</strong>
                                        </div>
                                        <div ng-show="vm.error" class="text-center text-danger">
                                            <strong ng-bind="vm.error"></strong>
                                        </div>-->

                                    </div>


                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="email">Beschrijving doel</label>
                                <textarea ng-model="vm.goal.description" class="form-control" rows="3" ng-readonly="!vm.actionSelection.isGoalEdit"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="email">IBAN {{vm.goal.iban}} </label>
                                <input type="text" class="form-control" id="email" ng-model="vm.goal.iban" ng-readonly="!vm.actionSelection.isGoalEdit">

                            </div>

                            <div class="form-group">
                                <label class="control-label" for="message">Doel vindbaar via zoekfunctie</label>

                                <div class="clearfix"></div>




                                <div class="radio radio-success radio-inline">
                                    <input type="radio" name="isGoalTarget" id="yes" ng-model="vm.goal.isGoalTarget" value="yes" ng-disabled="!vm.actionSelection.isGoalEdit">
                                    <label for="yes">
                                        Ja
                                    </label>
                                </div>
                                <div class="radio radio-success radio-inline">
                                    <input type="radio" name="isGoalTarget" id="no" ng-model="vm.goal.isGoalTarget" value="no" ng-disabled="!vm.actionSelection.isGoalEdit">
                                    <label for="no">
                                        Nee
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="message">Category</label>

                                <div class="clearfix"></div>

                                <ui-select multiple ng-model="vm.goal.goalCategory" theme="bootstrap" ng-disabled="!vm.actionSelection.isGoalEdit" close-on-select="false" title="Category">
                                    <ui-select-match placeholder="Select category...">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="category in availableCategories | filter:$select.search">
                                        {{category}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email">URL doel</label>
                                <input type="text" class="form-control" id="email" value="{{vm.goal.url}}.doelshop.nl" readonly>

                            </div>



                        </form>
                    </div>

                </div>
            </form>
            <!--panel ends-->
        </div>
        <!--col ends-->
    </div>
    <!--row ends-->

    <div class="row">

        <div class="col-sm-6">
            <h5>Donaties</h5>
            <div class="row">
                <div class="col-sm-8">
                    <p class="ghead">Totaal opgehaald</p>
                </div>
                <div class="col-sm-4">
                    <p class="shead">€ 121,34</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <p class="ghead">Laatste 3 maanden opgehaald</p>
                </div>
                <div class="col-sm-4">
                    <p class="shead">€ 7,34</p>
                </div>
            </div>

        </div>
        <!--col ends-->
        <div class="col-sm-6">
            <h5>Donaties</h5>
            <div class="row">
                <div class="col-sm-8">
                    <p class="ghead">Streefbedrag</p>
                </div>
                <div class="col-sm-4">
                    <p class="shead">€ 121,34</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <p class="ghead">Totaal opgehaald</p>
                </div>
                <div class="col-sm-4">
                    <p class="shead"> € 7,34</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <p class="ghead">Laatste 3 maanden opgehaald</p>
                </div>
                <div class="col-sm-4">
                    <p class="shead">€ 7,34</p>
                </div>
            </div>

        </div>
        <!--col ends-->
    </div>
    <!--row ends -->

    <div class="panel panel-default panel-myaccount mar-top">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Laatste aankopen</h3>
            <a class="pull-right" href>Alles bekijken</a>
        </div>
        <div class="panel-body">
            <table class="table table-condensed" id="no-more-tables">
                <thead>
                    <tr>
                        <th>Ordernummer</th>
                        <th>Datum</th>
                        <th>Bedrag</th>
                        <th>Webshop</th>
                        <th>Donatie</th>
                        <th>Betaalstatus</th>
                        <th>Deel met vrienden</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Ordernummer">0203179282944</td>
                        <td data-title="Datum">28.09.2013</td>
                        <td data-title="Bedrag">€ 9999,00</td>
                        <td data-title="Webshop">www.zalando.nl</td>
                        <td data-title="Donatie">€ 99,00</td>
                        <td data-title="Betaalstatus" class="settled">Afgewikkeld</td>
                        <td data-title="Deel met vrienden" class="social-icons">
                            <ul class="list-inline">
                                <li>
                                    <a class="btn btn-social-icon btn-facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-google">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-whatsapp">
                                        <span class="fa fa-whatsapp"></span>
                                    </a>
                                </li>

                            </ul>
                        </td>

                    </tr>



                    <tr>
                        <td data-title="Ordernummer">0203179282944</td>
                        <td data-title="Datum">28.09.2013</td>
                        <td data-title="Bedrag">€ 9999,00</td>
                        <td data-title="Webshop">www.zalando.nl</td>
                        <td data-title="Donatie">€ 99,00</td>
                        <td data-title="Betaalstatus" class="settled">Afgewikkeld</td>
                        <td data-title="Deel met vrienden" class="social-icons">
                            <ul class="list-inline">
                                <li>
                                    <a class="btn btn-social-icon btn-facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-google">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-whatsapp">
                                        <span class="fa fa-whatsapp"></span>
                                    </a>
                                </li>

                            </ul>
                        </td>

                    </tr>



                    <tr>
                        <td data-title="Ordernummer">0203179282944</td>
                        <td data-title="Datum">28.09.2013</td>
                        <td data-title="Bedrag">€ 9999,00</td>
                        <td data-title="Webshop">www.zalando.nl</td>
                        <td data-title="Donatie">€ 99,00</td>
                        <td data-title="Betaalstatus" class="settled">Afgewikkeld</td>
                        <td data-title="Deel met vrienden" class="social-icons">
                            <ul class="list-inline">
                                <li>
                                    <a class="btn btn-social-icon btn-facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-google">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-whatsapp">
                                        <span class="fa fa-whatsapp"></span>
                                    </a>
                                </li>

                            </ul>
                        </td>

                    </tr>



                    <tr>
                        <td data-title="Ordernummer">0203179282944</td>
                        <td data-title="Datum">28.09.2013</td>
                        <td data-title="Bedrag">€ 9999,00</td>
                        <td data-title="Webshop">www.zalando.nl</td>
                        <td data-title="Donatie">€ 99,00</td>
                        <td data-title="Betaalstatus" class="settled">Afgewikkeld</td>
                        <td data-title="Deel met vrienden" class="social-icons">
                            <ul class="list-inline">
                                <li>
                                    <a class="btn btn-social-icon btn-facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-google">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-whatsapp">
                                        <span class="fa fa-whatsapp"></span>
                                    </a>
                                </li>

                            </ul>
                        </td>

                    </tr>


                    <tr>
                        <td data-title="Ordernummer">0203179282944</td>
                        <td data-title="Datum">28.09.2013</td>
                        <td data-title="Bedrag">€ 9999,00</td>
                        <td data-title="Webshop">www.zalando.nl</td>
                        <td data-title="Donatie">€ 99,00</td>
                        <td data-title="Betaalstatus" class="settled">Afgewikkeld</td>
                        <td data-title="Deel met vrienden" class="social-icons">
                            <ul class="list-inline">
                                <li>
                                    <a class="btn btn-social-icon btn-facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-google">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-whatsapp">
                                        <span class="fa fa-whatsapp"></span>
                                    </a>
                                </li>

                            </ul>
                        </td>

                    </tr>


                    <tr>
                        <td data-title="Ordernummer">0203179282944</td>
                        <td data-title="Datum">28.09.2013</td>
                        <td data-title="Bedrag">€ 9999,00</td>
                        <td data-title="Webshop">www.zalando.nl</td>
                        <td data-title="Donatie">€ 99,00</td>
                        <td data-title="Betaalstatus" class="settled">Afgewikkeld</td>
                        <td data-title="Deel met vrienden" class="social-icons">
                            <ul class="list-inline">
                                <li>
                                    <a class="btn btn-social-icon btn-facebook">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-google">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-social-icon btn-whatsapp">
                                        <span class="fa fa-whatsapp"></span>
                                    </a>
                                </li>

                            </ul>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
</td>

</tr>
</tbody>
</table>

</div>
</div>

</div>
