<div class="user-login">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default panel-user-login">




                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" heading="Login">

                        <div ui-view="login"></div>
                    </uib-tab>
                    <uib-tab index="1" heading="Register">
                        <div ui-view="register"></div>

                    </uib-tab>
                </uib-tabset>

            </div>
        </div>


        <div class="col-sm-6 second-side advantages">

            <h4>alle voordelen op een rij!</h4>
            <ul class="media-list">
                <li class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" ng-src="/modules/users/client/img/assets/check.png" alt="check">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Krijg van elke aankoop binnen 24 uur een bevestigingsmail van de donatie!</h5>
                        <p>zodat je weet dat alles helemaal goed is gegaan!</p>
                    </div>
                </li>

                <li class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" ng-src="/modules/users/client/img/assets/overzicht.png" alt="check">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Je kunt in jouw account altijd terugzien
welke aankopen en donaties je hebt gedaan</h5>
                        <p>en je kunt deze delen met vrienden/familie!</p>
                    </div>
                </li>

                <li class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" ng-src="/modules/users/client/img/assets/upload.png" alt="check">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Upload je eigen foto zodat vrienden
en familie je kunnen herkennen!</h5>
                        <p>Je kunt dit zelf aan/uit zetten bij het doel dat jij steunt!</p>
                    </div>
                </li>

                <li class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" ng-src="/modules/users/client/img/assets/save.png" alt="check">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">jouw keuze voor doel wordt altijd bewaard en automatisch opgeslagen!</h5>

                    </div>
                </li>
            </ul>


        </div>

    </div>
    <br>
    <br>
    <div class="text-center">
        <a ui-sref="charitysetup" class="btn btn-lg btn-start">
            <img class="img-responsive pull-left" ng-src="/modules/users/client/img/assets/start.png" alt="start">
            <span>Start een eigen project!</span> </a>
    </div>
    <br>
    <br>
</div>
