
    <div class="login-container">
  <section class="login" id="login">
    <header>
      <h2>Login</h2>
      
    </header>
    <form class="login-form" autocomplete="off" name="userForm" ng-submit="signin(userForm.$valid)">
      <input type="text" class="login-input" data-ng-model="signCredentials.username" placeholder="Email" required="" autofocus/>
      <input type="password" class="login-input" data-ng-model="signCredentials.password" placeholder="Password" required="" />
      <div class="submit-container">
        <button type="submit" class="login-button">SIGN IN</button>
          
      </div>
        <!--<a class="forgotPassword" href="#"> Forgot Password </a>-->
    </form>
  </section>
  
</div>