<div class="panel-body">
    <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">

        <div class="form-group">
            <label class="sr-only" for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" required>

        </div>

        <div class="form-group">
            <label class="sr-only" for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email Address" required>

        </div>

        <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>

        </div>

        <button type="submit" class="btn btn-default col-xs-12 col-sm-6">Register</button>

    </form>

</div>
