html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
}
.navbar-fixed {
    background-color: #3f51b5 !important;
    height: 65px;
}

.navbar-fixed-red {
    background-color: red !important;
    height: 65px;
}

.container {
    width: 97%;
    margin: auto;
    background-color: transparent;

}
.layout-column{ display: inline-block; }


md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
    text-shadow: ;
    color: rgba(4, 4, 4, 0.55);
}
md-content.layout-padding._md.bg-color {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
    float: left;
    width: 91%;
    margin: auto;
    margin-top: 14px;
    margin-left: 4%;
    overflow-x: hidden;
}

.md-button.md-icon-button{margin: 0; padding: 0;}

    label.Heute {
    float: left;
    width: 100%;
    color: rgba(4, 4, 4, 0.55);
    overflow-x: hidden;
}
.md-datepicker-input-container{ width: 93%; margin-top: 2px;  margin-left:0px;  }
md-datepicker{padding-top: 16px;
    float: left;
    width: 100%;}
   input.SehrgeehrteFrau{ width: auto !important; height: 22px !important }



.tableData table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #000;
}

.tableData td, th {
    text-align: left;
    padding: 8px;
}

.tableData tr:nth-child(even) {
    border-bottom: 1px solid #dddddd;
    background-color: #fff;

}
.navbar-header {
    float: left;
    padding-top: 22px;
}

.navbar-header a { color: #fff; font-size: 14px;  text-decoration: none; margin-right: 10px;}
.singOut {
    float: right; padding-top: 22px;
}
.singOut a { color: #fff; font-size: 16px;  text-decoration: none; margin-right: 10px;}

/* Animation Keyframes */
@keyframes scale_header {
  0%   {max-height: 0px; margin-bottom: 0px; opacity: 0;}
  100% {max-height: 117px; margin-bottom: 25px; opacity: 1;}
}

@keyframes input_opacity {
  0%   {transform: translateY(-10px); opacity: 0}
  100% {transform: translateY(0px); opacity: 1}
}

@keyframes text_opacity {
  0% {color: transparent;}
}

@keyframes error_before {
  0%   {height: 5px; background: rgba(0, 0, 0, 0.156); color: transparent;}
  10%  {height: 117px; background: #FFFFFF; color: #C62828}
  90%  {height: 117px; background: #FFFFFF; color: #C62828}
  100% {height: 5px; background: rgba(0, 0, 0, 0.156); color: transparent;}
}


/* Login Form */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 500px;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 15%;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
}

.login-container img {
  width: 200px;
  margin: 0 0 20px 0;
}

.login-container p {
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.login-container p a {
  color: rgba(0, 0, 0, 0.4);
}

.login {
  position: relative;
  width: 100%;
  padding:0px;
  margin:0;
  box-sizing: border-box;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  animation: input_opacity 0.2s cubic-bezier(.55, 0, .1, 1);
 
}

.login > header {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: -10px -10px 25px -10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #3f51b5;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  color: #FAFAFA;
  animation: scale_header 0.6s cubic-bezier(.55, 0, .1, 1), text_opacity 1s cubic-bezier(.55, 0, .1, 1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
              0px 1px 5px 0px rgba(0, 0, 0, 0.12),
              0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login > header:before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 5px;
  padding: 10px;
  margin: -10px 0 0px -10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.156);
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  color: transparent;
  z-index: 5;
  display: none;
}

.login.error_1 > header:before,
.login.error_2 > header:before {
  animation: error_before 3s cubic-bezier(.55, 0, .1, 1);
}

.login.error_1 > header:before {
  content: 'Invalid username or password!';
}

.login.error_2 > header:before {
  content: 'Invalid or expired Token!';
}

.login > header h2 {
  margin:00;
  text-align: center;
}

.login > header h4 {
  font-size: 0.7em;
  animation: text_opacity 1.5s cubic-bezier(.55, 0, .1, 1);
  color: rgba(255, 255, 255, 0.4);
}

/* Form */
.login-form {
  padding: 15px;
  box-sizing: border-box;
}


/* Inputs */
.login-input {
  position: relative;
  width: 100%;
  padding: 10px 5px;
  margin: 0 0 25px 0;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background: transparent;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  opacity: 1;
  animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
  transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1);
}

.login-input:focus {
  outline: none;
  border-bottom: 2px solid #E37F00;
}


/* Submit Button */
.submit-container {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding: 0;
    margin: 0;
    border-top: 0;
    float: left;
}

.login-button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #E37F00;
  cursor: pointer;
  opacity: 1;
  animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
  transition: background 0.2s ease-in-out;
  background: #3f51b5;
    color: #fff;
    margin-bottom: 10px;
}

.login-button.raised {
  padding: 5px 10px;
  color: #FAFAFA;
  background: #E37F00;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.137255),
              0px 1px 5px 0px rgba(0, 0, 0, 0.117647),
              0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
    background: rgba(0, 0, 0, 0.05);
    background: #000;
}

.login-button.raised:hover {
  background: #FDAB43;
}
 a.forgotPassword {
    float: right;
    font-size: 12px;
    color: #3f51b5;
    text-decoration: none;
    cursor: pointer;
    padding-top: 12px;
}

.media img {
    width: 100%;
    height: auto;
}
.figure {
    float: left;
    width: 33%;
}


/******************************/
.md-padding {
    padding: 16px;
    overflow: hidden;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.35);
    width: 93%;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 10px;
}

md-step-actions.layout-row {
    width: 95%;
    margin: auto;
}

a.navbar-brand.Abrechnung {
    font-size: 17px;
    text-transform: UPPERCASE;
    font-weight: bold;
}

fieldset.demo-fieldset {
    border: 0 !Important;
    border-left: 0;
}


form.text-align{
    text-align: center;
    font-size: 18px;
}

form.text-align p {
    font-size: 14px;
    font-weight: normal;
}

.flex .md-button{ border: solid 1px #ccc; }
md-input-container.marpad {
    margin-top: 0;
}
md-input-container.marpad h3{ font-weight: bold; font-size: 16px; margin: 0; padding: 0; margin-bottom: 10px; }
.red{ color: red; font-size: 16px; }
h3.marpad { font-weight: bold; font-size: 16px; margin: 0; padding: 0; margin-bottom: 10px; }


input.Other {
    float: left;
    width: auto;
    margin-top: -8%;
    margin-left: 13%;
}

input.Other.newfile {
    float: left;
    width: auto;
    border: 0;
    border-bottom: solid 1px #ccc;
    position: absolute;
    left:-76px;
    margin-top: -6px;
}
.demo-select-all-checkboxes.ng-scope.flex-100{  position: relative; }

/*****************************************/

@media only screen and (max-width: 768px) {
input .Other{
    width: 200px !important;
    margin-left: 102px !important;
    margin-top: -45px !important;
    float: left !important;
}
md-content.layout-padding._md.bg-color{ width: 86%; }
md-input-container{ display: inline-block !important; width: 100%; }
md-datepicker{ width: 93% }

.md-datepicker-input-container{ width: 93%; }
.figure {
    float: left;
    width: 100%;
}

    md-steppers-canvas{
        width: 100% !important;
        margin: auto !important;
    }

.widthOfHome {
    width: 87% !important;
}

.login-container{ width: 100% }

}

md-steppers-canvas{
    width: 47%;
    margin: auto;
}

table.detaTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #000;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.35);
    margin: auto;
    font-size: 13px;
}
table.detaTable tr {
    line-height: 24px;
}

table.detaTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.detaTable tr:hover {
    background-color: #ecebe8;
}
.dateTable {
    width: 100%;
    float: left;
    margin: auto;
}
.SearchBar {
    float: left;
    width: 100%;
}

.SearchBar h3 {
    float: left;
    font-size: 18px;
    font-weight: normal;
}
.SearchBar input[type="text"] {
    float: right;
    width: 25%;
    height: 30px;
    border: 0;
    border-bottom: solid 1px #ccc;
    color: #ccc;
    padding-left: 5px;
}


/* Print PDF*/

#page_1 {position:relative; overflow: hidden;margin: 3px 0px 40px 96px;padding: 0px;border: none;width: 696px; margin:auto }
#page_1 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 696px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 17px 0px 0px 7px;padding: 0px;border:none;width: 689px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 2px 0px 0px 0px;padding: 0px;border:none;width: 382px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 307px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 45px 0px 0px 0px;padding: 0px;border:none;width: 696px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:556px;left:0px;z-index:-1;width:597px;height:2px;font-size: 1px;
    line-height:inherit;}
#page_1 #p1dimg1 #p1img1 {width:597px;height:2px;}




#page_2 {position:relative; overflow: hidden;margin: 124px 0px 722px 96px;padding: 0px;border: none;width: 696px; margin: auto;}





.ft0{font: 11px 'Arial';line-height: 14px;}
.ft1{font: 16px 'Arial';line-height: 18px;}
.ft2{font: 12px 'Arial';line-height: 15px;}
.ft3{font: 12px 'Arial';line-height: 14px;}
.ft4{font: 15px 'Arial';line-height: 17px;}
.ft5{font: 13px 'Arial';line-height: 16px;}
.ft6{font: 1px 'Arial';line-height: 1px;}
.ft7{font: 13px 'Gautami';line-height: 21px;}
.ft8{font: bold 8px 'Gautami';line-height: 15px;}
.ft9{font: bold 12px 'Arial';line-height: 15px;}
.ft10{font: 1px 'Arial';line-height: 14px;}
.ft11{font: 8px 'Arial';line-height: 10px;}
.ft12{font: bold 13px 'Arial';line-height: 16px;}
.ft13{font: bold 13px 'Gautami';line-height: 16px;}
.ft14{font: 13px 'Arial';line-height: 15px;}
.ft15{font: 1px 'Arial';line-height: 15px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 4px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 3px;margin-bottom: 0px;}
.p3{text-align: left;padding-right: 122px;margin-top: 0px;margin-bottom: 0px;}
.p4{text-align: left;padding-right: 158px;margin-top: 0px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 23px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 68px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-right: 157px;margin-top: 8px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 37px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: left;padding-left: 41px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: right;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: left;padding-left: 99px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-right: 121px;margin-top: 0px;margin-bottom: 0px;}
.p16{text-align: left;margin-top: 16px;margin-bottom: 0px;}
.p17{text-align: left;margin-top: 32px;margin-bottom: 0px;}
.p18{text-align: left;margin-top: 134px;margin-bottom: 0px;}
.p19{text-align: right;padding-right: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: right;padding-right: 22px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: right;padding-right: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: right;padding-right: 40px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p23{text-align: left;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p24{text-align: right;padding-right: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p25{text-align: right;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p26{text-align: right;padding-right: 10px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p27{text-align: right;padding-right: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p28{text-align: right;padding-right: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p29{text-align: right;padding-right: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{padding: 0px;margin: 0px;width: 179px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 135px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 102px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 78px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 470px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 41px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 427px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 165px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 195px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 284px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 119px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 241px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 22px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 47px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 194px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 76px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 216px;vertical-align: bottom;}

.tr0{height: 23px;}
.tr1{height: 38px;}
.tr2{height: 18px;}
.tr3{height: 22px;}
.tr4{height: 25px;}
.tr5{height: 14px;}
.tr6{height: 17px;}
.tr7{height: 20px;}
.tr8{height: 48px;}
.tr9{height: 16px;}
.tr10{height: 15px;}

.t0{width: 416px;font: 13px 'Arial';}
.t1{width: 589px;margin-left: 4px;margin-top: 12px;font: 12px 'Arial';}
.t2{width: 592px;margin-left: 4px;margin-top: 179px;font: 16px 'Arial';}
.t3{width: 598px;font: 12px 'Arial';}
.t4{width: 317px;font: 13px 'Arial';}


.edit {
    background: #3F51B5;
    border: 0;
    color: #fff;
    width: auto;
    height: 30px;
    border-radius: 5px;
    padding: 8px 13px 14px 18px;
    cursor: pointer;
}

.circleButton {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    padding: 8px;
}

.widthOfHome {
    width: 48%;
}

.dateBorderNone {
    border: none !important;
    padding-top: 9px;
    border-bottom: 1px solid #e1e1e1 !important;
}

.dateBorderNone:focus {
    border: none !important;
    padding-top: 9px;
    border-bottom: 1px solid deepskyblue !important;
}

.textLightFont{
    color: #a9a9a9 !important;
}

.paddingBottom10px {
    padding-bottom: 10px;
}


#page_1 {position:relative; overflow: hidden;margin: 3px 0px 40px 96px;padding: 0px;border: none;width: 595px !important; margin:auto;  }
#page_1 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 696px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 17px 0px 0px 7px;padding: 0px;border:none;width: 689px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 2px 0px 0px 0px;padding: 0px;border:none;width: 382px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 307px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 45px 0px 0px 0px;padding: 0px;border:none;width: 696px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:556px;left:0px;z-index:-1;width:597px;height:2px;font-size: 1px;
    line-height:inherit;}
#page_1 #p1dimg1 #p1img1 {width:597px;height:2px;}




#page_2 {position:relative; overflow: hidden;margin: 124px 0px 722px 96px;padding: 0px;border: none;width: 696px; margin: auto;}





.ft0{font: 11px 'Arial';line-height: 14px;}
.ft1{font: 16px 'Arial';line-height: 18px;}
.ft2{font: 12px 'Arial';line-height: 15px;}
.ft3{font: 12px 'Arial';line-height: 14px;}
.ft4{font: 15px 'Arial';line-height: 17px;}
.ft5{font: 13px 'Arial';line-height: 16px;}
.ft6{font: 1px 'Arial';line-height: 1px;}
.ft7{font: 13px 'Gautami';line-height: 21px;}
.ft8{font: bold 8px 'Gautami';line-height: 15px;}
.ft9{font: bold 12px 'Arial';line-height: 15px;}
.ft10{font: 1px 'Arial';line-height: 14px;}
.ft11{font: 8px 'Arial';line-height: 10px;}
.ft12{font: bold 13px 'Arial';line-height: 16px;}
.ft13{font: bold 13px 'Gautami';line-height: 16px;}
.ft14{font: 13px 'Arial';line-height: 15px;}
.ft15{font: 1px 'Arial';line-height: 15px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 4px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 3px;margin-bottom: 0px;}
.p3{text-align: left;padding-right: 122px;margin-top: 0px;margin-bottom: 0px;}
.p4{text-align: left;padding-right: 158px;margin-top: 0px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 23px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 68px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-right: 157px;margin-top: 8px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 37px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: left;padding-left: 41px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: right;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: left;padding-left: 99px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-right: 121px;margin-top: 0px;margin-bottom: 0px;}
.p16{text-align: left;margin-top: 16px;margin-bottom: 0px;}
.p17{text-align: left;margin-top: 32px;margin-bottom: 0px;}
.p18{text-align: left;margin-top: 134px;margin-bottom: 0px;}
.p19{text-align: right;padding-right: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: right;padding-right: 22px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: right;padding-right: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: right;padding-right: 40px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p23{text-align: left;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p24{text-align: right;padding-right: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p25{text-align: right;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p26{text-align: right;padding-right: 10px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p27{text-align: right;padding-right: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p28{text-align: right;padding-right: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p29{text-align: right;padding-right: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{padding: 0px;margin: 0px;width: 179px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 135px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 102px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 78px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 470px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 41px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 427px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 165px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 195px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 284px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 119px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 241px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 22px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 47px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 194px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 76px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 216px;vertical-align: bottom;}

.tr0{height: 23px;}
.tr1{height: 38px;}
.tr2{height: 18px;}
.tr3{height: 22px;}
.tr4{height: 25px;}
.tr5{height: 14px;}
.tr6{height: 17px;}
.tr7{height: 20px;}
.tr8{height: 48px;}
.tr9{height: 16px;}
.tr10{height: 15px;}

.t0{width: 416px;font: 13px 'Arial';}
.t1{width: 589px;margin-left: 4px;margin-top: 12px;font: 12px 'Arial';}
.t2{width: 592px;margin-left: 4px;margin-top: 50px;font: 16px 'Arial';}
.t3{width: 598px;font: 12px 'Arial';}
.t4{width: 317px;font: 13px 'Arial';}
